apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata: {name: kafka-ip, namespace: metallb-system}
spec:
  addresses: ["{{ metallb_kafka_pool }}"]
  autoAssign: false
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata: {name: kafka-ip, namespace: metallb-system}
spec: {ipAddressPools: [kafka-ip]}
